$primary-color: #dd8e58 !default;
$secundary-color: #708a81 !default;
$tertiary-color: #e5d1b8 !default;
$quaternary-color: #D7B99D !default;
$quinary-color: #c2956e !default;
$senary-color: #2f2e41 !default;
