// $primary-color: #866d9b !default;
$primary-color: #dea37b !default;
$secundary-color: #708a81 !default;
$tertiary-color: #de615d !default;
$quaternary-color: #292828 !default;
$quinary-color: #312f2e !default;
// $senary-color:#a89984 !default;
$senary-color: #b8a993 !default;
// $senary-color: #d4be98 !default;
