$primary-color: #866d9b !default;
$secundary-color: #708a81 !default;
$tertiary-color: #de615d !default;
$quaternary-color: #292828 !default;
$quinary-color: #312f2e !default;
$senary-color: #d4be98 !default;
