@import "../../styles/variables.scss";

:host {
  & ::ng-deep {
    .user__default {
      background-color: $senary-color;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 6rem !important;
      height: 6rem !important;
      min-width: 6rem;
      -moz-box-sizing: content-box;
    }

    i {
      color: $quinary-color;
      font-size: 3.5rem;
    }
  }
}
@-moz-document url-prefix() {
  img {
    min-width: 4.5rem !important;
  }
}
