@import "../../../app/styles/variables.scss";

:host {
  & ::ng-deep {
    h1 {
      text-align: center;
      padding: 3rem 0 1.5rem;
    }
    .container-auth {
      max-width: 1280px;
      margin: 0 auto;
      min-height: calc(100vh - 64px);
    }

    & .subtitulo {
      text-align: center;
      text-shadow: 1px 1px 5px rgb(0, 0, 0);
      color: $senary-color;
      margin-bottom: 2rem;
    }

    .grid {
      margin: 10px 30px;
    }

    .container-img {
      display: flex;
      flex-direction: column;
      align-items: center;

      & p {
        text-align: center;
        width: 80%;
      }
    }

    .img {
      max-height: 500px;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & img {
        max-height: inherit;
        width: 700px;
        opacity: 0.9;
      }
    }

    .p-card {
      padding: 0 !important;

      & .card-body {
        margin-bottom: 4rem !important;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & h2 {
          // color: $quaternary-color;
        }

        & form {
          width: 100%;
          & input {
            width: 100% !important;
          }

          & .button-container {
            display: flex;
            justify-content: center;
          }
        }

        & span {
          cursor: pointer;
          font-size: small;
        }
      }

      & .p-card-body {
        height: inherit !important;
      }

      & .p-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
      }
    }

    .p-button {
      min-width: 7.6rem;
    }

    .footer {
      margin: -3rem -1rem;
      padding: 1rem 1.5rem;
      background-color: #3c3a3a;
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-radius: 0 0 8px 8px;
    }

    @media (max-width: 767px) {
      .img {
        display: none;
      }

      .grid {
        margin: 0;
      }

      .container-img p {
        margin: 0;
      }

      .container-auth {
        padding: 0 1rem;
      }
    }

    @media (min-width: 768px) and (max-width: 992px) {
      .img {
        max-height: 400px;
        min-height: 400px;
        h2 {
          width: 300px;
        }

        & img {
          max-height: inherit;
          width: calc(450px - 100px);
          opacity: 0.7;
        }
      }
    }

    @media only screen and (max-width: 600px) {
    }
  }
}
