<p-toast key="notification" position="top-right" styleClass="default"></p-toast>

<div class="container-auth">
  <h1>Meu Vestuário</h1>
  <p class="subtitulo">Combine peças de roupas, monte e organize seus looks!</p>

  <div class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-8 container-img">
      <div class="img">
        <img src="../../../assets/undraw_web_shopping_re_owap.svg" alt="" />
      </div>
    </div>

    <div class="col-12 sm:col-12 md:col-6 lg:col-4 container-login">
      <p-card>
        <div class="card-body">
          <h2>Login</h2>

          <form [formGroup]="form">
            <div class="field">
              <label for="email" class="block">E-mail</label>
              <input
                type="email"
                pInputText
                required
                class="p-inputtext p-inputtext-md"
                formControlName="email"
                placeholder="Digite seu e-mail"
              />
              <small
                class="p-error"
                *ngIf="
                  formControl['email'].touched &&
                  formControl['email'].errors?.['required']
                "
              >
                E-mail é obrigatório!
              </small>

              <small
                class="p-error"
                *ngIf="
                  formControl['email'].touched &&
                  formControl['email'].errors?.['email']
                "
              >
                Digite um e-mail válido!
              </small>
            </div>

            <div class="field">
              <label for="password" class="block">Senha</label>

              <p-password
                required
                formControlName="password"
                placeholder="Digite a sua senha"
                [feedback]="false"
                [toggleMask]="true"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
              ></p-password>
              <small
                class="p-error"
                *ngIf="
                  formControl['password'].touched &&
                  formControl['password'].errors?.['required']
                "
              >
                Senha é obrigatória!
              </small>
            </div>

            <div class="button-container">
              <p-button
                [disabled]="form.invalid"
                type="submit"
                (keydown.enter)="login()"
                (onClick)="login()"
                label="Entrar"
              ></p-button>
            </div>
          </form>

          <span (click)="openDialogRecover()">Esqueceu sua senha?</span>
        </div>

        <div class="footer">
          <p>Ainda não tem uma conta?</p>
          <p-button
            routerLink="/signup"
            size="small"
            [text]="true"
            styleClass=" p-button-sm"
            >Cadastre-se</p-button
          >
        </div>
      </p-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
