:host {
  display: block;

  ::ng-deep {
    min-width: 320px;

    .pages {
      position: relative;
      z-index: 1;
      min-height: calc(100vh - 190px);
      padding-block: 1rem 2rem;
    }
  }
}
