<p-toast key="notification" position="top-right" styleClass="default"></p-toast>

<div class="dialog-body">
  <p>
    Está tudo bem, acontece! Confirme seu e-mail e enviaremos as instruções.
  </p>

  <form [formGroup]="form">
    <div class="field">
      <input
        type="email"
        pInputText
        required
        class="p-inputtext p-inputtext-md"
        formControlName="email"
        placeholder="Type your e-mail"
      />
      <small
        class="p-error"
        *ngIf="
          formControl['email'].touched &&
          formControl['email'].errors?.['required']
        "
      >
        E-mail é obrigatório!
      </small>

      <small
        class="p-error"
        *ngIf="
          formControl['email'].touched && formControl['email'].errors?.['email']
        "
      >
        Digite um e-mail válido.
      </small>
    </div>
  </form>
</div>

<div class="footer">
  <p-button
    [disabled]="form.invalid"
    (onClick)="submit()"
    label="Ok"
  ></p-button>
</div>
