<div *ngIf="dialogData">
  <form class="p-dialog-content-wrapper" [formGroup]="itemForm">
    <div class="formgrid grid">
      <div class="field col">
        <label for="name">Nome</label>
        <input formControlName="name" id="name" type="text" pInputText />
        <ng-container *ngIf="itemForm.get('name')?.touched">
          <small class="p-error" *ngIf="itemForm.get('name')?.errors">
            Digite o nome.
          </small>
        </ng-container>
      </div>

      <div class="field col field__color">
        <label for="color">Cor</label>
        <p-colorPicker
          appendTo="body"
          formControlName="color"
          id="color"
        ></p-colorPicker>
      </div>
    </div>

    <div class="formgrid grid">
      <div *ngIf="showC1" class="field col-6">
        <label for="tag">Tag</label>
        <p-dropdown
          formControlName="tag"
          inputId="tag"
          name="tag"
          [options]="tags"
          placeholder="Selecione a tag"
          optionLabel="name"
          appendTo="body"
        ></p-dropdown>

        <ng-container *ngIf="itemForm.get('tag')?.touched">
          <small class="p-error" *ngIf="itemForm.get('tag')?.errors">
            Selecione a tag.
          </small>
        </ng-container>
      </div>

      <div
        *ngIf="showCategory"
        [ngClass]="dialogData.type === 'clothing' ? 'col-6' : 'col'"
        class="field col"
      >
        <label for="category">Categoria</label>
        <p-dropdown
          formControlName="category"
          inputId="category"
          name="category"
          [options]="categories"
          placeholder="Selecione a categoria"
          optionLabel="name"
          appendTo="body"
        ></p-dropdown>

        <ng-container *ngIf="itemForm.get('type')?.touched">
          <small class="p-error" *ngIf="itemForm.get('type')?.errors">
            Selecione a categoria.
          </small>
        </ng-container>
      </div>
    </div>

    <div class="formgrid grid">
      <div *ngIf="showType" class="field col">
        <ng-container>
          <p-dropdown
            formControlName="type"
            inputId="type"
            name="type"
            [options]="types"
            placeholder="Selecione o tipo"
            optionValue="name"
            optionLabel="name"
            appendTo="body"
            (onChange)="isClothing($event.value)"
          ></p-dropdown>
        </ng-container>
        <ng-container *ngIf="itemForm.get('type')?.touched">
          <small class="p-error" *ngIf="itemForm.get('type')?.errors">
            Selecione o tipo.
          </small>
        </ng-container>
      </div>

      <div *ngIf="showClothesType" class="field col">
        <ng-container>
          <p-dropdown
            formControlName="clothesType"
            inputId="clothesType"
            name="clothesType"
            [options]="clothesTypes"
            placeholder="Selecione o tipo"
            optionValue="value"
            optionLabel="name"
            appendTo="body"
          ></p-dropdown>
        </ng-container>
        <ng-container *ngIf="itemForm.get('clothesType')?.touched">
          <small class="p-error" *ngIf="itemForm.get('clothesType')?.errors">
            Selecione o tipo.
          </small>
        </ng-container>
      </div>

      <div *ngIf="showIcon" class="field col field__emoji">
        <!-- <p-button
          (click)="op.toggle($event)"
          styleClass="p-button-rounded"
          icon="fa-solid fa-icons"
          label="Emoji"
        ></p-button> -->
        <span id="current__emoji" (click)="op.toggle($event)">{{
          itemForm.get("icon")?.value || '🏷️'
        }}</span>
        <p-overlayPanel appendTo="body" #op>
          <app-emoji (currentEmoji)="emoji($event)"></app-emoji>
        </p-overlayPanel>
      </div>
    </div>

    <div lass="formgrid grid">
      <div
        *ngIf="showC1 && dialogData?.item"
        class="field field-checkbox col-12"
      >
        <p-checkbox
          formControlName="inactive"
          inputId="inactive"
          [binary]="true"
        ></p-checkbox>
        <label for="inactive">Inativar</label>
      </div>
    </div>
  </form>

  <div class="p-dialog-footer">
    <p-button
      label="Cancelar"
      styleClass="p-button-danger"
      (onClick)="onClose()"
    ></p-button>

    <p-button
    styleClass="p-button-success"
      pFocusTrap
      label="Salvar"
      [disabled]="itemForm.invalid"
      (onClick)="onClose(true)"
    ></p-button>
  </div>
</div>
