<div class="bandanas__container">
  <h2>
    <strong><i class="fa-solid fa-hat-wizard"></i> Bandanas </strong>

    <p-button
      label="Nova Bandana"
      icon="pi pi-plus"
      (onClick)="openDialog()"
    ></p-button>
  </h2>

  <div class="bandanas__grid">
    <div>
      <p-table
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 15, 30]"
        [totalRecords]="total"
        [value]="bandanas"
        [tableStyle]="{ 'min-width': '30rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>

            <th style="width: 10%">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bandana>
          <tr>
            <td>
              <i
                [style.color]="bandana.color"
                class="fa-solid fa-hat-wizard"
              ></i>

              {{ bandana.name }}
            </td>
            <td class="table__actions">
              <p-button
                icon="fa-solid fa-pen-to-square"
                styleClass="p-button-rounded p-button-text"
                (onClick)="openDialog(bandana)"
              ></p-button>
              <!-- <p-button icon="pi pi-times"
                styleClass="p-button-rounded p-button-danger p-button-text"></p-button> </td> -->
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Nenhum resultado encontrado.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Total: {{ bandanas.length }}
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
