@import "../../../app/styles/variables.scss";

footer {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  padding: 10px;
  margin-top: 20px;
  background-color: $quinary-color;
}

a {
  color: $primary-color !important;
  text-decoration: none;
}
