<div class="home">
  <ng-container *ngIf="isHome">
    <h1>Meu Vestuário</h1>
    <h4 id="username" (click)="menu.toggle($event)">
      <app-user-img [email]="user.email"> </app-user-img> Hello,
      {{ user.userName[0] }}
    </h4>
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <p id="date">{{ todayIs | date : "longDate" : "" : "pt-BR" }}</p>
  </ng-container>

  <i id="home" [routerLink]="['/']" *ngIf="!isHome" class="pi pi-home"></i>

  <div class="menu__pages">
    <app-menu></app-menu>
  </div>
</div>
