:host {
  & ::ng-deep {
    & .handbags__container {
      h2 {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
      }
    }

    .p-datatable .p-datatable-thead > tr > th:first-child {
      border-radius: 1rem 0 0;
    }

    .p-datatable .p-datatable-thead > tr > th:last-child {
      border-radius: 0 1rem 0 0;
    }

    .p-datatable > .p-datatable-wrapper {
      border-radius: 1rem 1rem 0 0;
    }

    .table__actions {
      display: flex;
      gap: 1rem;
    }
    .p-button.p-button-icon-only {
      width: 2rem;
      height: 2rem;
    }
  }
}
