:host {
  & ::ng-deep {
    .container-not-found {
      min-height: calc(100vh - 0px);
      max-height: calc(100vh - 0px);
      overflow-x: hidden;

      .container-div {
        margin: 10vh auto;
        width: 75%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & svg {
          width: 60%;
          height: auto;
        }
      }
    }

    .detail-404 {
      text-align: center;
    }
    i {
      margin-right: 0.5rem;
    }

    h2 {
      margin: 2rem 0 0;
      text-align: center;
      color: #866d9b !important;
    }

    h3 {
      padding-top: 2rem;
      cursor: pointer;
      color: #708a81 !important;
    }
  }
}
