<div class="categories__container">
  <h2>
    <strong><i class="fa-solid fa-shapes"></i> Categorias </strong>

    <p-button
      label="Nova Categoria"
      icon="pi pi-plus"
      (onClick)="openDialog()"
    ></p-button>
  </h2>

  <div class="categories__grid">
    <div>
      <p-table
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 15, 30]"
        [totalRecords]="total"
        [value]="categories"
        [tableStyle]="{ 'min-width': '30rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="type" style="width: 30%">
              Tipo <p-sortIcon field="type"></p-sortIcon>
            </th>
            <th style="width: 10%">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <td>
              <span class="badge" [style.background]="category.color +'5c'"
                >{{ category.icon }} {{ category.name }}
              </span>
            </td>
            <td>{{ category.type }}</td>
            <td class="table__actions">
              <p-button
                icon="fa-solid fa-pen-to-square"
                styleClass="p-button-rounded p-button-text"
                (onClick)="openDialog(category)"
              ></p-button>
              <!-- <p-button icon="pi pi-times"
                styleClass="p-button-rounded p-button-danger p-button-text"></p-button> </td> -->
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Nenhum resultado encontrado.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Total: {{ categories.length }}
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
