<div class="clothes__container">
  <h2>
    <strong><i class="fa-solid fa-shapes"></i> Minhas Roupas </strong>

    <p-button
      label="Nova Peça"
      icon="pi pi-plus"
      (onClick)="openDialog()"
    ></p-button>
  </h2>

  <div class="card">
    <p-table
      #dt1
      [value]="looks"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 15, 30]"
      [totalRecords]="total"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="[
        'top._id',
        'bottom._id',
        'garb._id',
        'shoe._id',
        'bandana._id',
        'accessories._id'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Limpar"
            class="p-button-outlined p-button-secondary"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($event.target, 'contains')"
              placeholder="Pesquisar..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Parte de Cima
              <p-columnFilter
                field="category"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Categorias</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="tops"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Parte de Baixo
              <p-columnFilter
                field="bottom"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Parte de Baixo</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="bottoms"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 20rem">
            <div class="flex align-items-center">
              Traje
              <p-columnFilter
                field="garb"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Traje</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="garbs"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Sapato
              <p-columnFilter
                field="shoe"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Sapato</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="shoes"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Bandana
              <p-columnFilter
                field="bandana"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Bandana</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="bandanas"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Acessórios
              <p-columnFilter
                field="accessories"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Acessórios</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="filterAccessories"
                    [options]="accessories"
                    placeholder="Selecione"
                    (onChange)="filterAccessory($event)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="width: 10%">Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-look>
        <tr>
          <td>
            <small class="badge" [style.background]="look.top?.color + '80'">
              {{ look.top?.category.icon }}
              {{ look.top?.name }}
            </small>
          </td>
          <td>
            <small class="badge" [style.background]="look.bottom?.color + '80'">
              {{ look.bottom?.category.icon }}
              {{ look.bottom?.name }}
            </small>
          </td>
          <td>
            <small class="badge" [style.background]="look.garb?.color + '80'">
              {{ look.garb?.category.icon }}
              {{ look.garb?.name }}
            </small>
          </td>
          <td>
            <small class="badge" [style.background]="look.shoe?.color + '80'">
              {{ look.shoe?.category.icon }}
              {{ look.shoe?.name }}
            </small>
          </td>
          <td>
            <small
              class="badge"
              [style.background]="look.bandana?.color + '80'"
            >
              <i
                [style.color]="look.bandana?.color"
                class="fa-solid fa-hat-wizard"
              ></i>
              {{ look.bandana?.name }}
            </small>
          </td>

          <td>
            <ng-container *ngFor="let accessory of look?.accessories">
              <small class="badge" [style.background]="accessory?.color + '80'">
                {{ accessory?.category.icon }}
                {{ accessory?.name }}
              </small>
            </ng-container>
          </td>

          <td>
            <p-button
              icon="fa-solid fa-pen-to-square"
              styleClass="p-button-rounded p-button-text"
              (onClick)="openDialog(look)"
            ></p-button>
            <!-- <p-button icon="pi pi-times"
                styleClass="p-button-rounded p-button-danger p-button-text"></p-button> </td> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Nenhum resultado encontrado.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Total: {{ looks.length }}
      </ng-template>
    </p-table>
  </div>
</div>
