:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-width: 0;

  & ::ng-deep {
    .p-card {
      width: 100%;
      height: 100%;
    }

    .p-progress-spinner-circle {
      stroke: #dea37b !important;
    }

    .p-card-body {
      height: 100% !important;
    }

    .p-card-content {
      height: auto !important;
      min-height: 22rem;
      font-size: 1rem !important;
    }
    .doughnut {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .card-content-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem !important;
      height: 80% !important;
      opacity: 0.5;
    }

    .chart-container {
      // display: flex;
      // justify-content: center;
    }

    &.spinner-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1rem;
    }

    &.open-list {
      position: relative;
      margin-top: -50px;
      /* right: -50px; */
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
