<p-card [header]="header">
  <div *ngIf="!loading && showChart" class="open-list">
    <p-button icon="pi pi-list" (onClick)="openDialog()" [rounded]="true" [text]="true" />
  </div>

  <div
    [class.chart-container]="chartType === 'pie'"
    [class.card-content-empty]="!showChart"
  >
    <div *ngIf="loading; else canvas" class="spinner-container">
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
      />
    </div>

    <ng-template #canvas>
      <app-bar-chart
        *ngIf="showChart && chartType === 'bar'"
        [data]="data"
        [type]="header"
      ></app-bar-chart>
      <app-pie-chart
        *ngIf="showChart && chartType === 'pie'"
        [data]="data"
        [type]="header"
      ></app-pie-chart>
      <app-list-indicator
        *ngIf="showChart && chartType === 'list'"
        [data]="data"
      ></app-list-indicator>

      <p *ngIf="!showChart" class="empty-data">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
        <span> Sem dados no período selecionado. </span>
      </p>
    </ng-template>
  </div>
</p-card>
