:host {
  & ::ng-deep {
    & .clothes__container {
      h2 {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
      }
    }

    // .p-button.p-button-outlined {
    //   color: #2f2e41;
    // }

    // .p-button.p-button-outlined:enabled:active {
    //   background: rgba(213, 136, 86, 0.16);
    //   color: #2f2e41;
    // }

    // .p-button.p-button-outlined:enabled:hover {
    //   background: rgba(213, 136, 86, 0.04);
    //   color: #2f2e41;
    // }

    .p-datatable .p-datatable-header {
      border-radius: 1rem 1rem 0 0;
      border: none;
    }

    // .p-datatable .p-datatable-thead > tr > th:first-child {
    //   border-radius: 1rem 0 0;
    // }

    // .p-datatable .p-datatable-thead > tr > th:last-child {
    //   border-radius: 0 1rem 0 0;
    // }

    // .p-datatable > .p-datatable-wrapper {
    //   border-radius: 1rem 1rem 0 0;
    // }

    .table__actions {
      display: flex;
      gap: 1rem;
    }
    .p-button.p-button-icon-only {
      width: 2rem;
      height: 2rem;
    }

    .badge {
      font-weight: 800;
      text-align: center;
      display: flex;
      padding: 0.3rem 0.5rem;
      align-items: center;
      gap: 0.6rem;
      width: fit-content;
      height: fit-content;
    }

    &.item-look {
      cursor: pointer;
    }

    tr {
      height: 7rem;
    }

    .many__items {
      display: flex;
      gap: 0.5rem;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .accessory-container {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      overflow-y: auto;
      max-height: 6rem;
    }

    .icon-skirt {
      width: 1rem;
    }
  }
}
