<p-confirmDialog
  acceptLabel="Excluir"
  rejectLabel="Cancelar"
  rejectButtonStyleClass="p-button-text p-button-plain"
  [closable]="true"
  closeAriaLabel="Fechar"
  styleClass="closet-dialog"
></p-confirmDialog>

<div class="planned-page">
  <header class="planned-page__header">
    <div>
      <h2 class="planned-page__title">
        <i class="pi pi-calendar"></i>
        {{ pageHeading }}
      </h2>
      <p class="planned-page__subtitle">
        {{ total }} registro{{ total === 1 ? '' : 's' }} em {{ calendarYear }}
      </p>
    </div>

    <p-button label="Novo" icon="pi pi-plus" (onClick)="openDialog()"></p-button>
  </header>

  <div class="planned-page__toolbar card">
    <p-selectButton
      [options]="viewOptions"
      [(ngModel)]="viewMode"
      optionLabel="label"
      optionValue="value"
    >
      <ng-template let-item pTemplate>
        <i [class]="item.icon"></i>
        <span class="planned-page__view-label">{{ item.label }}</span>
      </ng-template>
    </p-selectButton>
  </div>

  <ng-container *ngIf="viewMode === 'calendar'; else listView">
    <app-planned-looks-calendar
      [days]="calendarDays"
      [month]="calendarMonth"
      [year]="calendarYear"
      [selectedDate]="selectedDate"
      [selectedDayLooks]="selectedDayLooks"
      [canMarkAsUsed]="canMarkAsUsed"
      (prevMonth)="prevCalendarMonth()"
      (nextMonth)="nextCalendarMonth()"
      (today)="goToToday()"
      (selectDay)="selectCalendarDay($event)"
      (openLook)="openDialog($event)"
      (markAsUsed)="markAsUsed($event)"
    ></app-planned-looks-calendar>

    <div class="planned-page__calendar-actions" *ngIf="selectedDate">
      <p-button
        label="Planejar look neste dia"
        icon="pi pi-plus"
        styleClass="p-button-outlined"
        (onClick)="createLookForSelectedDay()"
      ></p-button>
    </div>
  </ng-container>

  <ng-template #listView>
  <div class="card">
    <p-table
      #dt1
      [value]="plannedLooks"
      dataKey="id"
      [rows]="20"
      [rowsPerPageOptions]="[20, 35, 50]"
      [totalRecords]="total"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} looks"
      [globalFilterFields]="[
        'look.bottom.name',
        'look.top.name',
        'look.garb.name',
        'look.shoe.name',
        'handbag.name',
        'coat.name',
        'place.name',
        'accessories.name',
        'bandana.name',
        'date'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex closet-table-toolbar">
          <button
            pButton
            label="Limpar"
            class="p-button-outlined p-button-secondary"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon class="pi pi-search" />
            <input
              pInputText
              type="text"
              (input)="filterGlobal($event)"
              placeholder="Pesquisar..."
            />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="date" style="min-width: 8rem">
            <div class="flex align-items-center">
              Data <p-sortIcon field="date"></p-sortIcon>
              <p-columnFilter
                type="date"
                field="date"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Local
              <p-columnFilter
                field="place"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Local</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="places"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 25rem">
            <div class="flex align-items-center">Look</div>
          </th>

          <th style="min-width: 13rem">
            <div class="flex align-items-center">
              Bolsa
              <p-columnFilter
                field="handbag"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Bolsa</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="handbags"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Acessórios
              <p-columnFilter
                field="accessories"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Acessórios</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="filterAccessories"
                    [options]="accessories"
                    placeholder="Selecione"
                    (onChange)="filterAccessory($event)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Casaco
              <p-columnFilter
                field="coat"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Casaco</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="coats"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Bandana
              <p-columnFilter
                field="bandana"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Bandana</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="bandanas"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">Status</div>
          </th>
          <th style="width: 7rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plannedLook>
        <tr class="item-look" (click)="openDialog(plannedLook)">
          <td>
            {{ plannedLook.date | date : "dd/MM/yyyy" }}
          </td>
          <td>
            <small
              class="badge"
              [style.background]="plannedLook.place?.color + '70'"
            >
              {{ plannedLook.place?.icon }}
              {{ plannedLook.place?.name }}
            </small>
          </td>

          <td>
            <div class="many__items">
              <small
                *ngIf="plannedLook?.look.top"
                class="badge"
                [style.color]="getTextColor(plannedLook?.look.top?.color)"
                [style.background]="plannedLook.look.top?.color + '70'"
              >
                {{ plannedLook.look.top.category.icon }}
                {{ plannedLook.look.top.name }}
              </small>
              <small
                *ngIf="plannedLook.look?.bottom"
                class="badge"
                [style.color]="getTextColor(plannedLook?.look.bottom?.color)"
                [style.background]="plannedLook.look.bottom?.color + '70'"
              >
                <img
                  *ngIf="plannedLook.look.bottom?.tag._id === 'customT08'"
                  src="../../../assets/skirt.png"
                  alt="saia"
                  class="icon-skirt"
                />
                {{
                  (plannedLook.look.bottom?.tag._id !== "customT08" &&
                    plannedLook.look.bottom.category.icon) ||
                    ""
                }}
                {{ plannedLook.look.bottom.name }}
              </small>
              <small
                *ngIf="plannedLook.look?.garb"
                class="badge"
                [style.color]="getTextColor(plannedLook?.look.garb?.color)"
                [style.background]="plannedLook.look.garb?.color + '70'"
              >
                {{ plannedLook.look.garb.category.icon }}
                {{ plannedLook.look.garb.name }}
              </small>
              <small
                *ngIf="plannedLook.look?.shoe"
                class="badge"
                [style.color]="getTextColor(plannedLook?.look.shoe?.color)"
                [style.background]="plannedLook.look.shoe?.color + '70'"
              >
                {{ plannedLook.look.shoe.category.icon }}
                {{ plannedLook.look.shoe.name }}
              </small>
            </div>
          </td>

          <td>
            <small
              class="badge"
              [style.color]="getTextColor(plannedLook?.handbag?.color || '')"
              [style.background]="plannedLook.handbag?.color + '60'"
            >
              <i
                [style.color]="
                  darkenColor(plannedLook.handbag?.color || '', 30)
                "
                class="fa-solid fa-bag-shopping"
              ></i>

              {{ plannedLook.handbag?.name }}
            </small>
          </td>

          <td>
            <div class="accessory-container">
              <ng-container *ngFor="let accessory of plannedLook?.accessories">
                <small
                  class="badge"
                  [style.background]="accessory?.color + '70'"
                >
                  {{ accessory?.category.icon }}
                  {{ accessory?.name }}
                </small>
              </ng-container>
            </div>
          </td>

          <td>
            <small
              class="badge"
              [style.background]="plannedLook.coat?.color + '70'"
            >
              {{ plannedLook.coat?.category.icon }}
              {{ plannedLook.coat?.name }}
            </small>
          </td>

          <td>
            <small
              class="badge"
              [style.background]="plannedLook.bandana?.color + '70'"
            >
              <i
                *ngIf="plannedLook.bandana"
                [style.color]="plannedLook.bandana?.color"
                class="fa-solid fa-hat-wizard"
              ></i>
              {{ plannedLook.bandana?.name }}
            </small>
          </td>

          <td>
            <small class="badge">
              {{ plannedLook.status?.name }}
            </small>
          </td>
          <td>
            <p-button
              *ngIf="canMarkAsUsed && plannedLook.status?.id !== 2"
              label="Usar"
              icon="pi pi-check"
              size="small"
              (onClick)="markAsUsed(plannedLook, $event)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">Nenhum resultado encontrado.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="closet-table-summary">Total: {{ total }}</div>
      </ng-template>
    </p-table>
  </div>
  </ng-template>
</div>
