<div *ngIf="dialogData">
  <form class="p-dialog-content-wrapper" [formGroup]="lookForm">
    <div class="formgrid grid">
      <div class="field col-6">
        <label for="top">Parte de Cima</label>
        <p-select
          formControlName="top"
          inputId="top"
          name="top"
          [options]="tops"
          placeholder="Selecione a parte superior"
          optionLabel="name"
          appendTo="body"
          [showClear]="true"
          [filter]="true"
          filterBy="name"
        ></p-select>
      </div>

      <div class="field col-6">
        <label for="bottom">Parte de baixo</label>
        <p-select
          formControlName="bottom"
          inputId="bottom"
          name="bottom"
          [options]="bottoms"
          placeholder="Selecione a parte inferior"
          optionLabel="name"
          appendTo="body"
          [showClear]="true"
          [filter]="true"
          filterBy="name"
        ></p-select>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col-6">
        <label for="garb">Traje</label>
        <p-select
          [showClear]="true"
          formControlName="garb"
          inputId="garb"
          name="garb"
          [options]="garbs"
          placeholder="Selecione o traje"
          optionLabel="name"
          appendTo="body"
          [filter]="true"
          filterBy="name"
        ></p-select>
      </div>

      <div class="field col-6">
        <label for="shoe">Sapato</label>
        <p-select
          formControlName="shoe"
          inputId="shoe"
          name="shoe"
          [options]="shoes"
          placeholder="Selecione o sapato"
          optionLabel="name"
          appendTo="body"
          [filter]="true"
          filterBy="name"
        ></p-select>

        <ng-container *ngIf="lookForm.get('shoe')?.touched">
          <small class="p-error" *ngIf="lookForm.get('shoe')?.errors">
            Selecione o sapato.
          </small>
        </ng-container>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col-6">
        <label for="tag">Tag</label>
        <p-select
          formControlName="tag"
          inputId="tag"
          name="tag"
          [options]="tags"
          placeholder="Selecione a tag"
          optionLabel="name"
          appendTo="body"
        ></p-select>
      </div>
    </div>
  </form>

  <div class="p-dialog-footer">
    <p-button
      label="Cancelar"
      styleClass="p-button-text p-button-plain"
      (onClick)="onClose()"
    ></p-button>

    <p-button
      pFocusTrap
      label="Salvar"
      [disabled]="lookForm.invalid"
      (onClick)="onClose(true)"
    ></p-button>
  </div>
</div>
