:host {
  & ::ng-deep {
    & .p-dropdown {
      width: 100%;
    }

    .p-inputtext {
      margin: 0;
      width: 100%;
    }

    & .field__color {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 50px;
    }
    & .field__emoji {
      display: flex;
      gap: 1rem;
      width: 100%;
    }
    & .badge {
      padding: 0.2rem 0.4rem !important;
      border-radius: 0.2rem !important;
      font-size: 0.6rem !important;
      font-weight: 800 !important;
    }

    &.item__look {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      flex-flow: wrap;
    }

    & .p-dropdown-item {
      padding: 0.5rem 1rem !important;
    }
  }
}
