<ng-container *ngIf="dashboardView$ | async as view">
  <div *ngIf="view.loading" class="home-loading">
    <p-progressSpinner strokeWidth="4"></p-progressSpinner>
  </div>

  <div *ngIf="view.data as dashboard" class="home">
    <section class="home-hero card">
      <div class="home-hero__content">
        <p class="home-hero__eyebrow">
          Meu Closet · {{ today | date : "d 'de' MMMM 'de' y" : "" : "pt-BR" }}
        </p>
        <h1 class="home-hero__title">
          {{ userName ? 'Olá, ' + userName + '!' : 'Seu armário, organizado' }}
        </h1>
        <p class="home-hero__insight">{{ view.insight }}</p>
        <div class="home-hero__actions">
          <p-button
            label="Montar look"
            icon="pi pi-plus"
            (onClick)="goToLooks()"
          ></p-button>
          <p-button
            label="Planejar look"
            icon="pi pi-calendar"
            styleClass="p-button-outlined"
            (onClick)="goToPlannedLooks()"
          ></p-button>
        </div>
      </div>
      <div class="home-hero__stat">
        <span class="home-hero__stat-value">{{ view.wardrobeTotal }}</span>
        <span class="home-hero__stat-label">peças no closet</span>
      </div>
    </section>

    <section class="home-stats">
      <article *ngFor="let stat of view.stats" class="home-stat">
        <div
          class="home-stat__icon"
          [style.background]="stat.accent + '22'"
          [style.color]="stat.accent"
        >
          <iconify-icon
            class="home-stat__iconify"
            [attr.icon]="stat.icon"
            [style.fontSize.px]="18"
            aria-hidden="true"
          ></iconify-icon>
        </div>
        <div class="home-stat__body">
          <span class="home-stat__value">{{ stat.value }}</span>
          <span class="home-stat__label">{{ stat.label }}</span>
        </div>
      </article>
    </section>

    <ng-container *ngIf="nextPlannedLook$ | async as nextPlannedLook">
      <section *ngIf="nextPlannedLook.length" class="home-next card">
        <header class="home-next__header">
          <div>
            <p class="home-next__eyebrow">Próximo look planejado</p>
            <h2>{{ nextPlannedLook[0].date | date : 'fullDate' : '' : 'pt-BR' }}</h2>
          </div>
          <p-button
            label="Ver agenda"
            icon="pi pi-arrow-right"
            iconPos="right"
            styleClass="p-button-text"
            (onClick)="goToPlannedLooks()"
          ></p-button>
        </header>

        <div *ngFor="let look of nextPlannedLook" class="next_look_container">
          <span pTooltip="Roupa" tooltipPosition="bottom" class="item-1">
            <img src="assets/clothes.png" alt="" />
            <span *ngIf="look.look.garb">{{ look.look.garb.name }}</span>
            <span *ngIf="!look.look.garb">
              {{ look.look.top?.name }} + {{ look.look.bottom?.name }}
            </span>
          </span>

          <span pTooltip="Sapato" tooltipPosition="bottom" class="item-2">
            <img src="assets/shoe1.png" alt="" />
            {{ look.look.shoe?.name }}
          </span>

          <span
            pTooltip="Bolsa"
            tooltipPosition="bottom"
            class="item-3"
            *ngIf="look.handbag"
          >
            <img src="assets/bag.png" alt="" />
            {{ look.handbag.name }}
          </span>

          <ng-container *ngIf="look.accessories.length">
            <span
              pTooltip="Acessórios"
              tooltipPosition="bottom"
              *ngFor="let accessory of look.accessories"
              class="item-4"
            >
              <img src="assets/accessory.png" alt="" />
              <small>{{ accessory.name }}</small>
            </span>
          </ng-container>

          <p-button
            *ngIf="canMarkAsUsed(look)"
            label="Usar hoje"
            icon="pi pi-check"
            size="small"
            (onClick)="markAsUsed(look)"
          ></p-button>
        </div>
      </section>
    </ng-container>

    <section class="charts-grid">
      <div *ngFor="let chart of view.chartCards" class="charts-grid__cell">
        <app-chart
          [data]="chart.data"
          [header]="chart.header"
          [loading]="view.loading"
          [chartType]="chart.chartType"
          [accent]="chart.accent"
          [icon]="chart.icon"
        ></app-chart>
      </div>
    </section>
  </div>
</ng-container>
