<p-toast key="notification" position="top-right" styleClass="default"></p-toast>

<div class="container-register">
  <h1>Cadastre-se</h1>

  <div class="grid">
    <p-card class="col-12">
      <div class="card-body">
        <div class="user">
          <app-user-img [email]="email"> </app-user-img>
        </div>

        <form [formGroup]="form">
          <div class="field">
            <label for="name" class="block">Nome</label>
            <input
              type="text"
              pInputText
              required
              class="p-inputtext p-inputtext-md"
              formControlName="name"
              placeholder="Digite seu nome completo"
            />

            <small
              class="p-error"
              *ngIf="
                formControl['name'].touched &&
                formControl['name'].errors?.['required']
              "
            >
              Nome é obrigatório!
            </small>
          </div>

          <div class="grid p-fluid">
            <div class="col-12 md:col-6">
              <div class="field">
                <label for="gender" class="block">Gênero</label>
                <p-dropdown
                  [options]="gender"
                  placeholder="Selecione o seu gênero"
                  optionLabel="name"
                  optionValue="code"
                  formControlName="gender"
                ></p-dropdown>
                <small
                  class="p-error"
                  *ngIf="
                    formControl['gender'].touched &&
                    formControl['gender'].errors?.['required']
                  "
                >
                  Gênero é obrigatório!
                </small>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="field">
                <label for="birthdate" class="block">Data de Nascimento</label>
                <p-calendar
                  formControlName="birthdate"
                  dateFormat="dd.mm.yy"
                  [showIcon]="true"
                  inputId="icon"
                  placeholder="Selecione a data"
                ></p-calendar>
                <small
                  class="p-error"
                  *ngIf="
                    formControl['birthdate'].touched &&
                    formControl['birthdate'].errors?.['required']
                  "
                >
                  Esse campo é obrigatório!
                </small>
              </div>
            </div>
          </div>

          <div class="grid p-fluid">
            <div class="col-12 md:col-6">
              <div class="field">
                <label for="email" class="block">E-mail</label>
                <input
                  type="email"
                  pInputText
                  required
                  class="p-inputtext p-inputtext-md"
                  formControlName="email"
                  placeholder="Digite o seu e-mail"
                  (blur)="getAvatar($event)"
                />
                <small
                  class="p-error"
                  *ngIf="
                    formControl['email'].touched &&
                    formControl['email'].errors?.['required']
                  "
                >
                  E-mail é obrigatório!
                </small>

                <small
                  class="p-error"
                  *ngIf="
                    formControl['email'].touched &&
                    formControl['email'].errors?.['email']
                  "
                >
                  Digite um e-mail válido.
                </small>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="field">
                <label for="confirmEmail" class="block">Confirme o E-mail</label>
                <input
                  type="email"
                  pInputText
                  required
                  class="p-inputtext p-inputtext-md"
                  formControlName="confirmEmail"
                  placeholder="Digite o e-mail"
                />
                <small
                  class="p-error"
                  *ngIf="
                    formControl['confirmEmail'].touched &&
                    formControl['confirmEmail'].errors?.['required']
                  "
                >
                  E-mail é obrigatório!
                </small>

                <small
                  class="p-error"
                  *ngIf="
                    formControl['confirmEmail'].touched &&
                    formControl['confirmEmail'].errors?.['emailMismatch']
                  "
                >
                  Email diferente!
                </small>
              </div>
            </div>
          </div>

          <div class="grid p-fluid">
            <div class="col-12 md:col-6">
              <div class="field">
                <label for="password" class="block">Senha</label>
                <p-password
                  [toggleMask]="true"
                  formControlName="password"
                  placeholder="Digite a sua senha"
                  styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                >
                  <ng-template pTemplate="header">
                    <h6>Escolha uma senha</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">A senha deve conter:</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li>Pelo menos uma letra minúscula</li>
                      <li>Pelo menos uma letra maiúscula</li>
                      <li>Pelo menos um número</li>
                      <li>Mínimo de 8 caracteres</li>
                    </ul>
                  </ng-template>
                </p-password>

                <small
                  class="p-error"
                  *ngIf="
                    formControl['password'].touched &&
                    formControl['password'].errors?.['required']
                  "
                >
                  A senha é obrigatória!
                </small>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <div class="field">
                <label for="confirmPassword" class="block"
                  >Confirme a Senha</label
                >

                <p-password
                  required
                  formControlName="confirmPassword"
                  placeholder="Digite a sua senha"
                  [feedback]="false"
                  [toggleMask]="true"
                  styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                ></p-password>

                <small
                  class="p-error"
                  *ngIf="
                    formControl['confirmPassword'].touched &&
                    formControl['confirmPassword'].errors?.['required']
                  "
                >
                A senha é obrigatória!
                </small>

                <small
                  class="p-error"
                  *ngIf="
                    formControl['confirmPassword'].touched &&
                    formControl['confirmPassword'].errors?.['passwordMismatch']
                  "
                >
                  Senhas nao combinam.
                </small>
              </div>
            </div>
          </div>

          <div class="footer">
            <p-button
              [disabled]="form.invalid"
              (onClick)="submit()"
              type="submit"
              (keydown.enter)="submit()"
              label="Sign up"
            ></p-button>
          </div>
        </form>
      </div>
    </p-card>

    <div class="logo" [routerLink]="['/']">
      <h3>Meu Closet</h3>
    </div>
  </div>
</div>
<app-footer></app-footer>
