<div class="places__container">
  <h2>
    <strong><i class="fa-solid fa-tree-city"></i> Locais </strong>

    <p-button label="Novo Local" icon="pi pi-plus" (onClick)="openDialog()"></p-button>
  </h2>

  <div class="places__grid">
    <div>
      <p-table [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 15, 30]"
        [value]="places" [tableStyle]="{ 'min-width': '30rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>

            <th style="width: 10%">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-place>
          <tr>
            <td>
              <i  [style.color]="place.color" class="fa-solid fa-tree-city"></i>

              {{ place.name }}
            </td>

            <td class="table__actions">
              <p-button icon="fa-solid fa-pen-to-square" styleClass="p-button-rounded p-button-text"
                (onClick)="openDialog(place)"></p-button>
              <!-- <p-button icon="pi pi-times"
                styleClass="p-button-rounded p-button-danger p-button-text"></p-button> </td> -->
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Nenhum resultado encontrado.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Total: {{ places.length }}
        </ng-template>
      </p-table>
    </div>
  </div>
</div>