<div class="clothes__container">
  <h2>
    <strong><i class="fa-solid fa-shapes"></i> Minhas Roupas </strong>

    <p-button
      label="Nova Peça"
      icon="pi pi-plus"
      (onClick)="openDialog()"
    ></p-button>
  </h2>

  <div class="card">
    <p-table
      #dt1
      [value]="clothes"
      dataKey="id"
      [rows]="20"
      [rowsPerPageOptions]="[20, 35, 50]"
      [totalRecords]="total"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['name', 'category.name', 'tag.name', 'inactive']"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Limpar"
            class="p-button-outlined p-button-secondary"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($event.target, 'contains')"
              placeholder="Pesquisar..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 25rem">
            <div class="flex align-items-center">
              Roupa
              <p-columnFilter
                type="text"
                field="name"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Categoria
              <p-columnFilter
                field="category"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Categorias</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="categories"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Tag
              <p-columnFilter
                field="tag"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Tags</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="tags"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel="name"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.name }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Status
              <p-columnFilter
                field="inactive"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Status</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [showHeader]="false"
                    [filter]="false"
                    [ngModel]="value"
                    [options]="status"
                    placeholder="Selecione"
                    (onChange)="filter($event.value)"
                    optionLabel=""
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <p-tag
                          [value]="option.value ? 'Inativo' : 'Ativo'"
                          [severity]="getSeverity(option.value)"
                        ></p-tag>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th style="width: 10%">Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-clothing>
        <tr>
          <td>
            <span class="badge" [style.background]="clothing.color + '80'">
              {{ clothing.category.icon }}
              {{ clothing.name }}
            </span>
          </td>

          <td>
            {{ clothing.category.name }}
          </td>

          <td>
            {{ clothing.tag.name }}
          </td>

          <td>
            <p-tag
              [value]="clothing.inactive ? 'Inativo' : 'Ativo'"
              [severity]="getSeverity(clothing.inactive)"
            ></p-tag>
          </td>

          <td class="table__actions">
            <p-button
              icon="fa-solid fa-pen-to-square"
              styleClass="p-button-rounded p-button-text"
              (onClick)="openDialog(clothing)"
            ></p-button>
            <!-- <p-button icon="pi pi-times"
                styleClass="p-button-rounded p-button-danger p-button-text"></p-button> </td> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Nenhum resultado encontrado.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Total: {{ clothes.length }}
      </ng-template>
    </p-table>
  </div>
</div>
