// @import "primeflex/primeflex.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Poiret+One&display=swap");
@import "../src/app/styles/theme.css";
@import "../src/app/styles/variables.scss";
@import "primeng/resources/primeng.css";
@import "@ctrl/ngx-emoji-mart/picker";

* {
  margin: 0;
}

html,
body,
.theme-butterfly {
  background-color: $quaternary-color;
  color: $senary-color !important;
  font-family: "DM Mono", monospace !important;
  scrollbar-width: thin;
  scrollbar-color: $quaternary-color $quinary-color;
  scroll-padding: 5px;
}

//Scroll

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $quinary-color;
}
body::-webkit-scrollbar-thumb {
  background-color: $quaternary-color;
  border-radius: 1rem;
}

.p-password,
.p-multiselect {
  width: 100% !important;
}

.p-card-title {
  color: $primary-color !important;
}

.p-card {
  color: $senary-color !important;
}

.p-button {
  font-family: "DM Mono", monospace !important;
}

h1,
h2,
h3,
h4 {
  color: $secundary-color;
  font-family: "Poiret One", cursive !important;
  font-weight: bold !important;
}

.btn__secundary {
  background-color: $quaternary-color;
  border-color: $quaternary-color;

  &:hover {
    background-color: $quaternary-color;
    border-color: $quaternary-color;
    color: quaternary-color;
  }
}

.card {
}

.p-menubar .p-menuitem-link .p-menuitem-icon {
  min-width: 1.2rem !important;
}

//EMOJI

.emoji-mart {
  font-family: "DM Mono", monospace !important;
  color: $senary-color;
  border: 1px solid $quinary-color;
  background: $quinary-color;

  width: 395px !important;
}

.emoji-mart-anchor {
  color: $senary-color;
  padding: 12px 4px;
  box-shadow: none;
  background: none;
  border: none;
}

.emoji-mart-category-label span {
  font-weight: bold;
  background-color: rgb(49 47 46);
}

.emoji-mart-search input {
  border: 1px solid #79797959;
  background: #7f7f7f3b;
  margin: 1rem 0;
  color: $senary-color;
}

// .emoji-mart-dark {
//   font-family: "DM Mono", monospace !important;
//   color: #2f2e41;
//   border-color: $quinary-color;
//   background-color: $quaternary-color;
// }

// .emoji-mart-dark .emoji-mart-category-label span {
//   background-color: $quinary-color;
//   color: #fff;
//   border-radius: 0.6rem;
// }

// .emoji-mart-search input {
//   color: #fff;
//   border-color: #3534349c;
//   background-color: #3534349c;
//   margin-bottom: 1rem;
//   font-family: "DM Mono", monospace !important;
// }

.emoji-mart-anchor:hover,
.emoji-mart-anchor:focus,
.emoji-mart-anchor-selected {
  color: $primary-color;
}

.emoji-mart-search-icon {
  top: 6px;
}

.badge {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}

.p-column-filter-buttonbar {
  display: none;
}

.field-checkbox > label,
.field-radiobutton > label {
  margin-bottom: 0 !important;
}
