// @import "primeflex/primeflex.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Poiret+One&display=swap");
@import "../src/app/styles/theme.css";
@import "../src/app/styles/variables.scss";
@import "primeng/resources/primeng.css";

* {
  margin: 0;
}

.theme-butterfly {
  background-color: $tertiary-color;
  color: $senary-color !important;
  font-family: "DM Mono", monospace;
}

h1,
h2,
h3,
h4 {
  color: $secundary-color;
  font-family: "Poiret One", cursive !important;
  font-weight: bold !important;
}

.btn__secundary {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
  // color: $quaternary-color;

  &:hover {
    background-color: $quaternary-color;
    border-color: $quaternary-color;
    color: tertiary-color;
  }
}
