:host {
  display: block;
  min-width: 0;

  #chart-container {
    width: 100% !important;
    min-height: 400px;
  }

  ::ng-deep {
    .highcharts-container,
    .highcharts-root {
      width: 100% !important;
    }
  }
}
