:host {
	& ::ng-deep {
		& canvas {

			height: max-content !important;
		}
	}

	@media screen and (max-width: 900px) {
		& canvas {
			width: 100% !important;
			max-width: 500px;
			height: max-content !important;
		}
	}
}
